<div class="layout-container">
  LAYOUT-COMPONENT SCOPE
  <div class="layout-selector">
    <button (click)="loadLayout()">Reset</button>
    <button (click)="loadLayout(1)">Load Layout 1</button>
    <button (click)="loadLayout(2)">Load Layout 2</button>
    <button (click)="loadLayout(3)">Load Pricing</button>
    <button (click)="loadLayout(4)">Load Pricing-Child</button>
    <button (click)="loadLayout(5)">Load Todo</button>
  </div>
  <pricing-sample-nx-layout-three></pricing-sample-nx-layout-three>
  <router-outlet></router-outlet>
</div>
